@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    max-height: 100vh;
}

header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding: 30px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100; 
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover, .navigation a.active {
    background: #359381;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
  position: absolute;
  font-size: 5em;
  color: #333; 
}

.parallax img {
   position: absolute; 
   top: 0;
   left: 0;
   width: 100%;
   pointer-events: none;
}

.sec {
    position: relative;
    background: #003329;
    padding: 20px;
    margin-top: 20px;
    
}

.sec h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;  
  
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  

  header {
    position: absolute;
    padding: 5px 5px;
    top: 0;
    left: 0;
    width: 90%;
    display:flex;
    justify-content: space-between; /* Adjusted alignment for smaller screens */
    align-items: center;
    z-index: 30; 
   }

  .logo {
    font-size: 1em;
    color: #359381;
    margin-right: 10px;
    pointer-events: none;
    margin-left: 10px;
    /* Removed margin for smaller screens */
  }
  .navigation {
    display:inline-block;
    align-items: center; /* Center the navigation items for smaller screens */
    margin-top: 20px; /* Adjusted margin for smaller screens */
  }
  .navigation a {
    text-decoration: none;
    color: #359381;
    padding: 1px 10px; /* Adjusted padding for smaller screens */
    border-radius: 20px;
    margin: 2px 0; /* Adjusted margin for smaller screens */
    font-weight: 500;
    font-size: 0.7em;
    
   }
   #text {
    
    font-size: 1em; /* Adjusted font size for smaller screens */
    color: #333; 
  }
  .sec {
    position: relative;
    background: #003329;
    padding: 2px; /* Adjusted padding for smaller screens */
    margin-top: 1px; /* Adjusted margin for smaller screens */
  }
  .sec h2 {
    font-size: 1em; /* Adjusted font size for smaller screens */
    color: #fff;
    margin-bottom: 10px;  
  }
  
  .sec p {
      font-size: 0.7em;
      color: #fff;
      font-weight: 300;
  }
  .parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36vh;
}
  
}
